.App {
  
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* body:before, body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: url('./img/bannerprata.jpg') no-repeat center / cover;
  z-index: -1;
}

body:after {
  transform: scaleY(-1);
  top: 100vh;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
}


@media (max-width: 595px) {
  .css-mvee9g-MuiToolbar-root {
    justify-content: space-between;
    display: flex !important;
  }
}

/* carousel.css */
.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
  z-index: 1;
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

.slick-next {
  right: 10px !important;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: darkgreen !important;
}
.slick-dots {
  bottom: -50px !important;
}

a{
  text-decoration: none !important;
}